<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{$title}</title>
    <link rel="stylesheet" href="__RESOURCE__/style/main.css" type="text/css" />
    <link rel="stylesheet" href="__RESOURCE__/style/index.css" type="text/css"/>
    <script language="javascript" src="__RESOURCE__/jscript/index.js"></script>
</head>
<body>
<div class="time">
    <div class="history">Origin.</div>
    <div class="context">Second level set sail!</div>
    <div class="nowTime" id="nowTime"></div>
    <div class="countTime" id="countTime"></div>
</div>
<video autoplay="autoplay" loop="loop"><source src="__RESOURCE__/media/video/pirate.mp4" type="video/mp4" ></video>
<embed src="__RESOURCE__/media/music/victory.mp3" hidden="true" autostart="true" loop="-1" />
</body>
</html>